
@{
    ViewData["Title"] = "Index";
}

<h2>Signo Zodiacal</h2>
<form class="container">
    <label for="dia">Día:</label>
    <input type="text" name="dia" id="dia" placeholder="Ingrese el dia de su nacimiento"/>
    <label>Mes:</label>
    <input type="text" name="mes" id="mes" placeholder="Ingrese el mes de su nacimiento"/>
    <input type="button" value="Enviar datos" id="btnEnviar"/>
</form>

